body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerTurn {
    font-size: 3em;
    position: absolute;
    top: 0px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    top: 100px;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.square:hover {
    cursor: pointer;
    background-color: #bbdefb;
}